<section class="headerFiller"></section>

<section class="aboutSection">
    <h2 style="margin:0;">Your Profile</h2>

    <p>Welcome to Licence Management.</p>


    <div class="profileBlocks">


        <a href="update_details.html">
            <div class="blocks">
                <span>Update Profile</span>
            </div>
        </a>

        <a href="generate_keys.html">
            <div class="blocks">
                <span>Request New Access Keys</span>
            </div>
        </a>


        <a href="session_recordings.html">
            <div class="blocks">
                <span>Manage recordings</span>
            </div>
        </a>

        <a href="../../index.html">
            <div class="blocks">
                <span>Logout</span>
            </div>
        </a>

    </div>

    <br>

    <p>If you'd like to recieve automatic updates of your generated keys, feel free to click <a href="#">here</a>.</p>



</section>